.agent-earning-overview-container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    font-family: Arial, sans-serif;
  }

  .agent-earning-overview-header-container {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
  }

  .agent-earning-overview-avatar {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-right: 20px;
  }

  .agent-earning-overview-info-container {
    flex: 1;
  }

  .agent-earning-overview-agent-name {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 5px;
  }

  .agent-earning-overview-agent-info {
    font-size: 16px;
    color: #666;
    margin-bottom: 5px;
    padding-left: 5px;
  }

  .agent-earning-overview-card-container {
    display: flex;
    gap: 20px;
    margin-bottom: 20px;
  }

  .agent-earning-overview-card {
    background-color: #f9f9f9;
    border-radius: 10px;
    padding: 20px;
    width: 100%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }

  .agent-earning-overview-card-title {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 10px;
  }

  .agent-earning-overview-card-icon {
    width: 75px;
    height: 75px;
    border-radius: 50%; /* Makes the image circular */
    object-fit: cover;
  }

  .agent-earning-overview-earnings-info {
    font-size: 14px;
    color: #888;
  }

  .agent-earning-overview-invoices-title {
    font-size: 20px;
    margin-bottom: 10px;
  }

  .agent-earning-overview-invoices-container-scroll {
    max-height: 400px;
    overflow-y: auto;
    border: 1px solid #ddd;
    padding: 10px;
    border-radius: 10px;
    background-color: #f9f9f9;
  }

  .agent-earning-overview-invoice-card {
    background-color: #ffffff;
    border-radius: 10px;
    padding: 15px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-bottom: 10px;
  }

  .agent-earning-overview-invoice-card p {
    margin: 5px 0;
    font-size: 16px;
    color: #333;
  }
  .button-manage-my-orders{
    width: auto;
    max-width: 300px;
    padding: 10px;

    background-color: #6953A4;
    color: white;
    border: none;
    border-radius: 10px;
    font-size: 16px;
    cursor: pointer;
  }

  .button-manage-my-orders:hover {
    filter: brightness(75%);
  }