/* General container */
.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  padding: 20px;
  justify-content: flex-start;


}

/* Hero Section */
.hero-section {
  text-align: center;
  padding: 20vh 5vw;
  background-image: url('../assets/Images/Banner.png'); /* Use your service-related image */
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  color: white;
  width: 100%; /* Make sure it takes the full width */
  min-height: 60vh; /* Ensure it has a minimum height for small screens */
  display: flex;
  flex-direction: column;
  justify-content: flex-end; /* Align buttons at the bottom */
  align-items: center; /* Center content horizontally */
  padding-bottom: 20px;
}


@media (max-width: 768px) {
  .hero-section {
    padding: 15vh 10vw; /* Adjust padding for smaller screens */
  }
}

@media (max-width: 480px) {
  .hero-section {
    padding: 10vh 5vw; /* Further adjust padding for very small screens */
    background-size: cover;
    background-position: center;
  }
}


.hero-heading {
  font-size: 2.5rem;
  font-weight: bold;
}

.hero-subheading {
  margin-top: 20px;
  font-size: 1.2rem;
}

.hero-buttons .cta-button {
  margin: 10px 25px; /* Adjusted margin to make it look cleaner */
  padding: 10px 20px;
  background-color: #000000;
  color: white;
  border: none;
  cursor: pointer;
  justify-self: flex-start;
  min-width: 150px; /* Ensure buttons are not too small */
  max-width: 250px;


}
@media screen and (max-width: 768px) {
  .hero-buttons .cta-button {
    flex: 1 1 auto; /* Allow buttons to shrink based on content */
    margin: 15px 0; /* Adjust margins for better spacing */
    padding: 8px 16px; /* Reduce padding for smaller buttons */
    font-size: 0.875rem; /* Smaller text on small screens */
    max-width: 100%; /* Ensure the button doesn't exceed the container width */


  }

  .hero-buttons {
    display: flex;
    justify-content: center; /* Centers buttons horizontally */
    align-items: center; /* Centers buttons vertically */

    padding-bottom: 20px;

    flex-direction: column; /* Stack buttons vertically */
    height: 10%; /* Ensure the container takes the full height */
  }

}



/* How It Works Section */
.how-it-works-section {
  padding: 50px 20px;
  text-align: center;

}

.how-it-works-steps {
  display: grid;
  grid-template-columns: repeat(5, 1fr); /* Creates 5 equal-width columns */
  gap: 20px; /* Adds space between the columns */
  margin-top: 20px;


}

.step {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.step img {
  width: 100px;
  height: auto;
  margin-bottom: 10px;
}

.section-title {
  font-size: 22px;
  color: #000000;
  margin-bottom: 15px;
  font-weight: 700;
  border-bottom: 2px solid #eaeaea;
  padding-bottom: 5px;
}

.step p {
  font-size: 1.1rem;
  color: #333;
  margin-top: 10px;
  line-height: 1.4;
  height: 48px; /* Adjust this height as needed */
  overflow: hidden; /* Ensure text does not overflow */
}

/* Services Section */
.services-section {
  display: flex;
  justify-content: center; /* Centers the entire grid horizontally */
  flex-direction: column; /* Stacks the title and grid vertically */
  align-items: center; /* Centers the title and grid container horizontally */
  width: 95%;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  margin-top: 30px;
  justify-items: center; /* Ensures the grid items themselves are centered */

  width: 100%;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center; /* Centers content inside each card */
  max-width: 500px; /* Optional: Limits the grid's width to a reasonable size */
  width: 100%;
}

/* Testimonials Section */
.testimonials-section {
  padding: 50px 20px;
  background-color: #f8f9fa;
  text-align: center;
}



.testimonial span {
  display: block;
  margin-top: 10px;
  font-weight: bold;
}


/* Card container to hold each service card */
.card-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1rem;
}

.card:hover {
  transform: scale(1.05);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
}


/* Title inside the card */
.card-title {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 1rem;
  text-align: center;
  color: #333;
}

/* Image inside the card */
.card-image {
  width: 100%;
  height: auto;
  border-radius: 8px;
}
.promo-button {
  margin-top: 20px;
  padding: 10px 20px;
  background-color: #d35400;
  color: white;
  border: none;
  cursor: pointer;





  font-size: 16px;
  font-weight: bold;


  border-radius: 8px; /* Rounded corners */

  transition: background-color 0.3s ease, border-color 0.3s ease; /* Smooth hover transition */
  text-align: center;
  display: inline-block; /* To ensure proper button sizing */
  margin: 10px 0; /* Margin to add some space around the button */
}

.promo-button:hover {
  filter: brightness(75%);
}

/* Order Dashboard Section */
.order-dashboard-section {
  text-align: center;
  padding: 50px 20px;
}

/* Promo Video Section */
.promo-video-section {
  text-align: center;
  padding: 50px 20px;
}

.video-container {
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
}



/* Testimonials Section */
.testimonials-section {
  padding: 50px 20px;
  background-color: #f8f9fa;
  text-align: center;
}

.testimonial {
  margin-bottom: 30px;
  font-style: italic;
}



/* Promo Section */
.promo-section {
  text-align: center;
  padding: 50px 20px;
  background-color: #F4CBA5;
  width: 80%;
}

.promo-title {
  font-size: 1.8rem;
  margin-bottom: 10px;
  color: #000000;
}





/* Order Dashboard Section */
.order-dashboard-section {
  text-align: center;
  padding: 50px 20px;
}

iframe {
  border: none;
}

.guarantee-section {
  text-align: center;
  padding: 40px;
   /* Or any background color you prefer */
  width: 100%;
}



.highlighted {
  color: #5865F2; /* You can adjust the color for "guaranteed" */
  font-weight: bold;
}

.guarantee-items {
  display: flex;
  justify-content: space-around;
  margin-top: 30px;
}

.guarantee-item {
  width: 30%;
  text-align: center;
}

.guarantee-icon {
  width: 50px;
  height: auto;
  margin-bottom: 15px;
}

h3 {
  font-size: 1.1rem;
    color: #6953A4;
    margin-bottom: 5px;
}

p {
  font-size: 1rem;
  color: #555;
}

@media (max-width: 768px) {
  .guarantee-items {
    flex-direction: column;
    align-items: center;
  }

  .guarantee-item {
    width: 80%;
    margin-bottom: 20px;
  }
}
/* Styling for the services section */
.service-buttons-container {
  display: flex;
  justify-content: space-around;
  padding: 20px;
  flex-wrap: wrap; /* Allows buttons to wrap in case there are many */
  width: 80%;
  flex-direction: row;
}

/* Styling for individual service buttons */
.service-button {
  background-color:   #ffffff; /* Red background color */
  color: white; /* White text */
  padding: 15px;
  font-size: 16px;
  font-weight: bold;
  border: 0.5px solid black; /* Add a black border */
  border-radius: 8px;
  cursor: pointer;
  text-transform: uppercase;
  transition: background-color 0.3s ease;
  margin: 10px; /* Adds space between buttons */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; /* Centers the text and image vertically */
  width: 400px; /* Adjust the image size as needed */
  height: auto;
  text-align: center; /* Centers the text horizontally */

}

.service-button:hover {
  background-color: #F4CBA5; /* Darker red on hover */
}

/* Styling for the service images inside the buttons */
.service-image {
  width: 300px; /* Adjust the image size as needed */
  height: 300px;
  margin-bottom: 10px; /* Add some space between image and text */
}

/* Styling for the service text inside the buttons */
.service-text {
  font-size: 14px;
  text-align: center;
  letter-spacing: 1px;
  color: #000000;
}

/* Styling for the CTA (Call-to-Action) button */
.cta-button {
  background-color: #000000; /* Green background color */
  color: white; /* White text */
  padding: 15px 30px; /* Padding for size */
  font-size: 16px;
  font-weight: bold;
  border: none;
  text-transform: uppercase; /* Make text uppercase */
  /* border: 2px solid #6953A4; Border to match the background */
  border-radius: 8px; /* Rounded corners */
  cursor: pointer; /* Pointer cursor on hover */
  transition: background-color 0.3s ease, border-color 0.3s ease; /* Smooth hover transition */
  text-align: center;
  display: inline-block; /* To ensure proper button sizing */
  margin: 10px 0; /* Margin to add some space around the button */
}

/* Hover effect for the CTA button */
.cta-button:hover {

  filter: brightness(75%); /* Reduce brightness by 10% */
}
